@model Penguin.Cms.Modules.Admin.Areas.Admin.Models.ConnectionStringSetupModel
@using Penguin.Extensions.Exceptions;
@using System.Reflection;
@using Penguin.Cms.Web.Mvc;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

This page is hardcoded to the EF provider for no reason aside from the lack of need to extend it at this point.
If the database table does not exist, the user provided must have permissions to create the table

<div>
    <label>
        Existing Connection String
    </label>
    <span>@Model.ConnectionString</span>
</div>

<form action="/Admin/Setup/SetConnectionString">
    <label>Database Name</label><br />
    <input name="DatabaseName" value="@(Assembly.GetEntryAssembly().GetName().Name.Replace(".", "_"))" /><br />
    <br />
    <label>Server Path</label><br />
    <input name="Server" value="." /><br />
    <br />
    <label>User (Blank for integrated)</label><br />
    <input name="User" /><br />

    <label>Password (if not integrated)</label><br />
    <input name="Password" /><br />
    <br />
    <input type="submit" />
</form>

@foreach (StartupException ex in Model.Exceptions)
{
    <div style="padding: 25px;">

        <span>@ex.Time</span>
        <div>
            <label style="color: red;">
                Recursive Message
            </label>
            <span style="color: red;">@ex.Exception.RecursiveMessage()</span>
        </div>
        <div>
            <label style="color: red;">
                Recursive Stack Trace
            </label>
            <span style="color: red;">@ex.Exception.RecursiveStackTrace()</span>
        </div>
    </div>
}